<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongsr.test.pkg">

    <application>

        <activity
            android:name=".WebTestActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false" />

    </application>

</manifest>